# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Assets/AssetStoreTools*
MemoryCaptures/
*.unitypackage

# VS/VS Code
.vscode/
.vs/
*.csproj
*.sln
*.user
*.suo
*.tmp
*.bak
*.ncb
*.log
*.cache
*.pidb
*.booproj
*.svd

# OS
.DS_Store
Thumbs.db